@font-face {
  font-family: 'Yeseva One';
  src: url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff');
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: 'Montserrat';
  src: url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
