.wrapper {
  margin: 10px 4% 2% 10%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
body {
  margin: 0;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  position: relative;
  padding: 31px 31px 31px 48px;
  font: 900 24px/29px pt_serif, arial, helvetica, sans-serif;
  letter-spacing: 1px;
}
.logo__circle {
  position: absolute;
  margin: 0 2%;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity:.7;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 87px;
  margin-top: 7px;
}
.menu__item {
    position: relative;
    margin: 0 30px 0 0;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
}
.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: .5;
}
.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item:last-child {
  padding-right: 8px;
}
.main {
  margin-top: 142px;
  display: flex;
}
.main__title {
  margin: 1px 0 37px 3px;
  font: 900 66px/87px pt_serif, arial, helvetica, sans-serif;
  letter-spacing: 3px;
}
.main__title-text_highlight {
  background: #ECF3FF;
  margin-left: 3px;
}
.main__subtitle {
  margin: 0 0 40px 2px;
  font: 400 22px/26px Roboto, arial, helvetica, sans-serif;
  max-width: 420px;
  word-spacing: 1px;
 }
.main__button {
  width: 249px;
  height: 57px;
  display: flex;
  font: 18px/17px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
  margin-left: 4px;
  text-align: center;
  padding-left: 22px;
  align-items: center;
}
.main__button:hover {
  opacity: .5;
}
.main__img {
  width: 770px;
  height: 989px;
  background: url(img/mainImg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 34px;
}
.main__text {
  margin-top: 72px;
  max-width: 727px;
}
.menu__item:nth-child(1) {
  margin: 2px;
}
.menu__item:nth-child(2) {
  margin: 25px;
}

@media (max-width: 1366px) {
  .header {
    margin-bottom: 75px;
  }
  .logo {
    padding: 32px 31px 31px 126px;
  }
  .logo__circle {
      margin: 0 27%;
  }
  .menu__item {
    font: 500 15px/21px Roboto, arial, helvetica, sans-serif;
  }
  .menu {
    margin-right: 124px;
  }
  .menu__item {
    margin: 0 27px 0 0;
  }
  .menu__item:nth-child(2) {
    margin: 21px;
  }
  .menu__item:last-child {
    padding-right: 15px;
  }
  .main {
    margin-top: 75px;
  }
  .main__text {
    margin-top: 17px;
  }
  .main__title {
    margin: 17px 0 41px 82px;
    font: 900 54px/66px pt_serif, arial, helvetica, sans-serif;
    letter-spacing: 0px;
  }
  .main__title-text_highlight {
    margin-left: 1px;
  }
  .main__subtitle {
    margin: 0 0 42px 81px;
    font: 400 18px/30px Roboto, arial, helvetica, sans-serif;
    max-width: 420px;
    word-spacing: 1.5px;
    line-height: 20px;
  }
  .main__button {
    width: 192px;
    height: 44px;
    display: flex;
    font: 14px/17px Roboto, arial, helvetica, sans-serif;
    margin-left: 82px;
    padding-left: 17px;
  }
  .main__img {
    width: 1174px;
    height: 989px;
    margin: 18px 162px 0 2px;
  }

@media (max-width: 1024px) {
  .wrapper {
    margin: 10px 2px 2% 4%;
  }
  .logo {
    padding: 32px 31px 31px 49px;
  }
  .logo__circle {
    margin: 0 2%;
  }
  .menu {
    margin-right: 0;
  }
  .main__title {
    margin: 17px 0 40px 5px;
    font: 900 52px/66px pt_serif, arial, helvetica, sans-serif;
    letter-spacing: 1px;
  }
  .main__subtitle {
    margin: 0 0 41px 5px;
    font: 400 18px/30px Roboto, arial, helvetica, sans-serif;
    word-spacing: 1px;
    line-height: 21px;
  }
  .main__button {
    margin-left: 5px;
  }
  .main__img {
    width: 1282px;
    height: 993px;
    margin: 19px 45px 0 1px;
  }

@media (max-width: 768px) {
  .wrapper {
    margin: 9px 2px 2% 4%;
  }
  .header {
    margin-bottom: 15px;
  }
  .logo__circle {
    margin: 0 11%;
  }
  .logo__circle_color_blue {
    top: 58%;
  }
  .logo__text {
    display: none;
  }
  .menu {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
    margin-top: 15px;
  }
  .main__img {
    width: 1273px;
    height: 999px;
    background-size: 22%;
    margin: 1px 40px 37px 33px;
  }
